*{
    margin: 0px;
    padding: 0px;
}
body{
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color: rgba(250, 200, 1, 0.743);
}


.card{
  display:relative;
    width: 360px;
    height: 470px;
    border: 2px solid black;
    border-radius: 15px;
    background-color:white ;
    box-shadow: 6px 6px 0px #000;

}
.card img{
display: absolute;
margin-left: 3.5%;
margin-top:3%;
border-radius: 10px;
}
.smallbox{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-left: 14px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: rgba(250, 200, 1, 0.743);
}
.publish{
    margin: 10px;
    padding: 0px;
    margin-left: 10px;
}
h2{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    padding: 0px;
    margin: 0px 0px 0px 10px;
}
h2:hover{
    cursor: pointer;
    color: rgba(250, 200, 1, 0.743);
}
.para{
    padding: 0px;
    color: grey;
    margin: 8px 0px 0px 10px;
}
.logo{
    height: 40px;
}
.footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 600px) {
  .card {
    width: 80%;
    padding: 20px;
    margin: 10px auto;
  }

  .card h1 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1rem;
  }
}
